@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

* {
    margin: 0;
    padding: 0
}

.html,
body {
    overflow: hidden;
    background-color: black;
}

.webgl {
    position: absolute;
    left: 0px;
    top: 0px;
}

.loading-bar {
    position: absolute;
    right: 0;
    top: 50%;
    width: 98%;
    height: 5vh;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(201, 20, 0));
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
    transform: translate(100%, -50%);
    transition: transfrom 0.5s;
    will-change: transform;
}

.loading-bar.ended {
    transform-origin: 100%;
    transition: transform 1s ease-in;
}

.loading-snake {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 30vh;
    will-change: transform;
}

.loading-snake.ended {
    transform-origin: 100%;
    transition: transform 1.5s ease-in;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-family: 'Gajraj One', cursive;
    font-size: 6vh;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
    .loading-bar {
        height: 20px;
    }
    .loading-snake {
        height: 14vh;
    }

    button {
        font-size: 40px;
    }
}