@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.html,
body {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #D1DDBB;
}

.webgl {
  position: absolute;
  left: 0px;
  top: 0px;
}

.loading-bar {
  position: absolute;
  right: 0;
  top: 50%;
  width: 10%;
  height: 10px;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(201, 20, 0));
}

.loading-bar.ended {
  transition: transform 1s ease-in;
}

.loading-snake {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 30vh;
}

.loading-snake.ended {
  transition: transform 1s ease-in;
}

.sound {
  position: absolute;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 15px;
}

.audio {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.fa-solid {
  color: black;
  font-size: 34px;
  border: none;
  background-color: #ffffff00;
}

.fa-solid:hover {
  cursor: pointer;
}

.fa-volume-high {
  position: absolute;
  right: 0;
  top: 0;
}

.fa-volume-xmark {
  position: absolute;
  right: 0;
  top: 0;
  right: 3.8px;
  opacity: 0;
}

.play {
  position: absolute;
  right: 0;
  top: 70px;
  width: 40px;
  height: 40px;
  margin: 15px;
}

.fa-play {
  position: absolute;
  left: 2px;
  top: 0;
}

.fa-rotate-right {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.season {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 80px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.707);
  border-radius: 40px;
  text-align: center;
}

.season button {
  position: relative;
  border: none;
  font-size: 40px;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 1px;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #ffffff00;
  filter: opacity(50%);
}

#spring {
  filter: opacity(100%);
}

.season_folder {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  padding: 14px;
}

.folder {
  position: absolute;
  bottom: 4px;
  right: 24px;
  opacity: 0;
  z-index: 10;
  width: 34px;
  height: 100%;
}

.fa-folder {
  display: none;
}

.btn {
  opacity: 0%;
}

@media only screen and (max-width: 1000px) {
  .loading-snake {
    height: 140px;
  }

  .season {
    width: 60px;
  }

  .season button {
    font-size: 30px;
  }
}
